@import "../../bourbon/bourbon";
@import "../../neat/neat";

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
    button {
      padding: 20px 15px;
      width: 25%;
      background-color: #161e27;
      color: #ffffff;
      border: none;
    }
}
